<div ng-cloak>
    <div class="panel panel-default" ng-cloak>
		<ng-form name="SharewebAddNew" novalidate role="form">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" style="min-width: 10px;">&times;</button>
					<h3 class="modal-title">Add {{$root.webpartinfo.ItemType}}</h3>
				</div>
				<div class="panel-body tab-content">
					<div id="table-wrapper">
						<div id="table-scroll">
							<div class="form-group inner-tabb col-sm-12">
											
										<div class="col-sm-12" ng-if="$root.webpartinfo.ItemType=='News'">
											<label class="full_width"><b class="span-error">*</b>Title</label>
											<input type="text" ng-required="true" placeholder="Title" class="form-control" ng-model="$root.webpartinfo.NewsTitle" />

										</div>
										<div  ng-if="$root.webpartinfo.ItemType=='Event'">
												<div class="form-group">
													<label class="full_width">Title</label>
													<input id="linkTitle" ng-required="true" class="form-control" type="text" placeholder="Title" ng-model="$root.webpartinfo.EventTitle">
												<div class="clearfix"></div>
												</div>
												<div class="form-group">
													<div class="col-sm-6  padL-0">
														<label class="full_width">Start Date</label>
														<input type="text" style="height:35px;" ng-required="true" title="Start Date" placeholder="dd/mm/yyyy" class="form-control" id="txtEventDate" ng-model="$root.webpartinfo.EventDate" />
													</div>
													<div class="col-sm-6 no-padding">
														<label class="full_width">End Date</label>
														<input type="text" style="height:35px;" ng-required="true" title="End Date" placeholder="dd/mm/yyyy" class="form-control" id="txtEndDate" ng-model="$root.webpartinfo.EndDate" />
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										
									<div ng-if="$root.webpartinfo.ItemType=='Document'">
										<div class="form-group">
											<div class="col-sm-12">
												<label class="full_width">Document</label>
												<input class="form-control" style="width:100%" data-file="uploadFile" ng-model="uploadDocument" type="file" id="uploadDocument" valid-file>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<label class="full_width"> Title</label>
												<input id="linkTitle" class="form-control" value="{{getTitle(uploadFile)}}" type="text" placeholder="Title">
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="form-group">
											<div class="col-sm-12">
												<label class="full_width"> Folder Url</label>
												{{rawfolderUrl}}
											</div>
										</div>
									</div>
								
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-disabled="SharewebAddNew.$error.required" ng-click="addSharewebItem()">Save</button>
					<button type="button" class="btn btn-default" ng-click="cancelItem()">Cancel</button>
				</div>
			</div>
		</ng-form>
    </div>   
</div>